<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Clientes</span>
            <button class="btn btn-dark float-md-end">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Fecha de nacimiento</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Juan Andres</td>
                    <td>Quintanilla Calderon</td>
                    <td>38</td>
                    <td>25/04/1983</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Ernesto Pedro</td>
                    <td>Quiroz Valdivia</td>
                    <td>23</td>
                    <td>21/08/2003</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Roxanna Pilar</td>
                    <td>Calderon Gutierrez</td>
                    <td>45</td>
                    <td>25/04/1976</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
